.imgSize {
    height: 250px;
    width: 250px;
    overflow: hidden;
}
.imgSize img {
    height: 250px;
    width: 250px;
    padding-bottom: 30px;
}
.imgSize :hover {
    height: 150%;
    width: 150%;
    position: relative;
}